.body {
	width: 400px;
	font-family: "PT Serif", serif;
	border: 2px solid rgba(36, 197, 219, 0.15);
	background-color: rgba(34, 153, 235, 0.07);
	border-radius: 30px;
	padding: 15px;
	color: white;
	position: relative;
	h1 {
		font-size: 25px;
		margin-bottom: 15px;
	}
	.filter {
		button {
			color: white;
			font-size: 20px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 300px;
			background-color: rgba(36, 197, 219, 0.26);
			border: 2px solid rgba(36, 197, 219, 0.15);
			border-radius: 5px;
			padding: 2px 8px;
			cursor: pointer;
		}
	}
	.options {
		color: white;
		font-size: 20px;
		background-color: rgba(36, 197, 219, 0.26);
		width: 300px;
		padding: 0 8px;
		border-radius: 5px;
		cursor: pointer;
		p:hover {
			background-color: blue;
		}
	}
	.restart {
		position: absolute;
		bottom: 20px;
		left: 15px;
		button {
			font-size: 20px;
			color: white;
			background-color: rgba(36, 197, 219, 0.26);
			border: 2px solid rgba(36, 197, 219, 0.15);
			border-radius: 5px;
			padding: 2px 8px;
			cursor: pointer;
		}
	}
}
